{% extends 'base.html.twig' %}

{% block title %}Nouvelle Annonce{% endblock %}

{% block body %}
    <h1>Création d'une nouvelle annonce</h1>

    {{ include('annonces/_form.html.twig') }}

    <a href="{{ path('annonces_index') }}">back to list</a>
{% endblock %}
